<app-header></app-header>

<div class="players-container">
    <div class="column">
        <div class="column-header">
            <h3>Available Players</h3>
            <span class="player-count">{{ filteredAvailablePlayers.length }} Players</span>
        </div>
        <div class="search-container">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Search player..." class="search-input" />
        </div>
        <ul class="players-list">
            <li *ngFor="let player of filteredAvailablePlayers" class="player-item">
                <div class="player-info">
                    <span [class.player-locked]="player.locked">{{ player.firstName }} {{ player.lastName }}</span>
                    <span class="player-rating">Rating: {{ player.rating }}</span>
                </div>
                <button class="select-button" (click)="selectPlayer(player)"
                    [disabled]="selectedPlayers.length >= maxAvailable">
                    Select
                </button>
            </li>
        </ul>
    </div>

    <div class="column">
        <div class="column-header">
            <h3>Selected Players</h3>
            <span class="player-count" [ngClass]="selectedPlayers.length < 10 ? 'count-red' : 'count-green'">
                {{maxAvailable - selectedPlayers.length }} Players left
            </span>
        </div>
        <ul class="players-list">
            <li *ngFor="let player of selectedPlayers" class="player-item">
                <div class="player-info">
                    <span>{{ player.firstName }} {{ player.lastName }}</span>
                    <span class="player-rating">Rating: {{ player.rating }}</span>
                </div>
                <button class="select-button" (click)="unselectPlayer(player)" style="background: #dc3545;">
                    Remove
                </button>
            </li>
        </ul>
        <button *ngIf="selectedPlayers.length >= 10" class="floating-btn" (click)="generateTeams()">
            Finalize Selection
        </button>
    </div>
</div>

@if (showTeamsModal) {
<div class="modal" *ngIf="showTeamsModal">
    <div class="modal-content">
        <button class="close-btn" (click)="closeTeamsModal()">&times;</button>
        <div class="modal-header">
            <h2>Generated teams</h2>
            <button class="shuffle-btn" (click)="shuffleTeams()">
                🔄 Shuffle Teams
            </button>
        </div>

        <div class="teams-container">
            <div class="team">
                <input type="text" [(ngModel)]="team1Name" class="team-name-input" />
                <h3>({{ team1.players.length }} players - {{ team1.averageRating | number:'1.1-1' }})</h3>
                <ul>
                    <li *ngFor="let player of team1.players">
                        <span class="lock-icon" [class.unlocked]="!player.locked" (click)="toggleLock(player)"
                            style="cursor:pointer;">
                            {{ player.locked ? '🔒' : '🔓' }}
                        </span>
                        <span [class.player-locked]="player.locked">{{ player.firstName }} {{ player.lastName }}</span>
                        <span class="rating-badge" [class]="'rating-' + getRatingCategory(player.rating)">
                            {{ player.rating }}
                        </span>
                    </li>
                </ul>
            </div>

            <div class="team">
                <input type="text" [(ngModel)]="team2Name" class="team-name-input" />
                <h3>({{ team2.players.length }} players - {{ team2.averageRating | number:'1.1-1' }})</h3>
                <ul>
                    <li *ngFor="let player of team2.players">
                        <span class="lock-icon" [class.unlocked]="!player.locked" (click)="toggleLock(player)"
                            style="cursor:pointer;">
                            {{ player.locked ? '🔒' : '🔓' }}
                        </span>
                        <span [class.player-locked]="player.locked">{{ player.firstName }} {{ player.lastName }}</span>
                        <span class="rating-badge" [class]="'rating-' + getRatingCategory(player.rating)">
                            {{ player.rating }}
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="day-selector">
            <label for="matchDate">Select Match Day:</label>
            <input type="date" id="matchDate" [(ngModel)]="matchDate" (change)="validateMatchDay()" [min]="minDate"
                class="search-input" />
            <span *ngIf="matchDayError" style="color: red; font-size: 0.85rem;">
                You can only select a Tuesday or Thursday.
            </span>
        </div>


        <div class="modal-actions">
            <button class="begin-match-btn" (click)="beginMatch()" [disabled]="!matchDate || matchDayError">Begin
                Match</button>
            <button class="begin-match-btn" (click)="scheduleMatch()" [disabled]="!matchDate || matchDayError"
                style="background: #6a866e; margin-left: 10px;">Schedule Match</button>
        </div>
    </div>
</div>
}