<app-header></app-header>

<table class="players-table">
  <thead>
    <tr>
      <th>#</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (player of this.players; let i = $index; track player) {
      <tr>
        <td>{{ i+1 }}</td>
        <td>{{ player.firstName }}</td>
        <td>{{ player.lastName }}</td>
        <td>{{ player.rating }}</td>
        <td>
          @if (editIndex === i) {
            <button class="action-btn save-btn" title="Save" (click)="clearEditIndex()">
              Save
            </button>
            <button class="action-btn cancel-btn" title="Cancel" (click)="clearEditIndex()">
              Cancel
            </button>
          } @else {
            <button class="action-btn edit-btn" title="Edit" (click)="setEditIndex(i)">
              Edit
            </button>
            <button class="action-btn delete-btn" title="Delete">
              Delete
            </button>
          }
        </td>
      </tr>
    }
  </tbody>

</table>

<button class="open-modal-btn" (click)="showAddModal = true">Add New Player</button>

@if (showAddModal) {
  <div class="modal-backdrop">
    <div class="modal-content">
      <button class="close-modal-btn" (click)="showAddModal = false" title="Close">&times;</button>
      <h3>Add New Player</h3>
      <input type="text" placeholder="First Name" [(ngModel)]="newPlayer.firstName" />
      <input type="text" placeholder="Last Name" [(ngModel)]="newPlayer.lastName" />
      <input type="number" placeholder="Rating" [(ngModel)]="newPlayer.rating" />
      <button (click)="addPlayer(); showAddModal = false">Add Player</button>
    </div>
  </div>
}
